# Stadia Maps API Key (recommended for vector & satellite tiles)
NEXT_PUBLIC_STADIA_API_KEY=b6777717-81e7-40dd-95c8-e03afeb0a829

# Mapbox GL JS token (optional if using Stadia Maps)
NEXT_PUBLIC_MAPBOX_TOKEN=
